.mcq-component {

    .mcq-item {
        background-color:@item-color;
        position: relative;
    }

    .mcq-item label {            
        color:@item-text-color;
        display:block;
        border:1px solid #b9b9b9;
        margin-bottom: 2px;
        position: relative;
        z-index: 1;
        background-color: @item-color;
        overflow:hidden;
        
        &.selected {            
            color:@item-text-selected-color;
            background-color:@item-selected-color;
        }

        
    }

    .mcq-item-inner {
        padding:14px;
        margin-left: 38px;
        padding-top:19px;
    }

    .mcq-item input {
        position:absolute;
        top:14px;
        left:14px;
    }

    .mcq-correct-icon {
        color: #0FB300;
        display: none;
    }

    .mcq-incorrect-icon {
        color: #FF4A4A;
        display: none;
    }

    .mcq-item-state {
        background: none;
        position: absolute;
        right: 10px;
        width: @icon-size;
        height: @icon-size;
        top: 50%;
        margin-top: -(@icon-size/2);
        z-index: 0;
    }

    .button {
        outline: none;
        text-decoration: none;
        padding: @button-padding;
        color: @button-text-color;
        background-color: @button-color;
        display: none;

        &.submit {
            display: inline-block;
        }
    }

    &.submitted {
        .button.submit {
            display: none;
        }
        .button.reset {
            display: inline-block;
        }
    }

    &.user {
        .button.model {
            display: inline-block;
        }
        .mcq-item-icon {
            display: none;
        }
        .incorrect {
            .mcq-incorrect-icon {
                display: block;
            }
        }
        .correct {
            .mcq-correct-icon {
                display: block;
            }
        }
    }

    &.model {
        .button.user {
            display: inline-block;
        }
        .mcq-item-icon {
            display: none;
        }
        .mcq-correct-icon {
            display: block;
        }
    }

    &.disabled {
        .button.reset {
            display: none;
        }
    }

    &.correct {
        .button {
            visibility: hidden;
        }
    }

    .disabled {

        .mcq-item label.selected {
            background-color:@item-selected-color;
        }

        .mcq-item.correct .selected .state {
            color:#5abd5e;
        }

        .mcq-item.incorrect .selected .state {
            color:#db214f;
        }
    }

    .disabled.model {

        .mcq-item label.selected {
            background-color:@primary-color;
        }

        .mcq-item.correct label {
            background-color:@secondary-color;
        }

        .mcq-item.correct .state {
            color:#5abd5e;
        }

        .mcq-item.incorrect .state {
            color:#db214f;
        }
    }
}

.no-touch {

    .mcq-component {

        .button.submit:hover,
        .button.reset:hover,
        .button.user:hover,
        .button.model:hover {
            background-color:@button-hover-color;
            color:@button-text-hover-color;
        }

        .mcq-widget {

            
        }

        .mcq-item label:hover {
            color:@item-text-hover-color;
            background-color:@item-hover-color;
        }

        .disabled {

            .mcq-item label:hover {
                color:@item-text-disabled-color;
                background-color:@item-disabled-color;
            }

            .mcq-item label.selected:hover {
                background-color:@item-disabled-color
            }
        }

        .disabled.model {

            .mcq-item label.selected:hover {
                background-color:@item-disabled-color;
            }

            .mcq-item.correct label:hover {
                background-color:@item-disabled-color;
            }
        }
    }
}
